@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

body {
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: crimson;
}
.container {
  max-width: 390px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  box-shadow: 6px 1px 20px 1px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row {
  width: 100%;
}
Button:hover {
  background-color: cornsilk;
}
